html{
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

figure{
  display: inline-block;
  margin: 0;
  position: absolute;
}

figure img{
  width: 100%;
  height: 100%;
}

#box{
/*
  width: 500px;
  height: 250px;
*/
  width: 400px;
  height: 400px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}

.lado{
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
}

#box .lado{
  background-color: white;
}

.top{
  top: 0; /*left: -50%;
  transform: translateX(50%);*/
  width: 100%;
}

.bottom{
  bottom: 0;/*left: -50%;
  transform: translateX(50%);*/
  width: 100%;
}

.left{
  left: 0;
  height: 100%;
}

.right{
  right: 0;
  height: 100%;
}

.projetil{
  transition-timing-function: linear;
}

.group{
  position: fixed;
  display: block;
}

.sprite{
  position: fixed;
}

.div_hitbox{
  border: red 1px solid;
  box-sizing: border-box;
  position: absolute;
}
