html{
  height: 100%;
}

body{
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

figure{
  display: inline-block;
  margin: 0;
  position: absolute;
}

figure img{
  width: 100%;
  height: 100%;
}

.projetil{
  transition-timing-function: linear;
}

.group{
  display: block;
}

.sprite,.col, .group{
  position: absolute; /* If you change this, you should change "Hitbox.js" too */
  -webkit-user-drag:none;
  user-select: none;
}

.col{background-color: rgba(255, 17, 0, 0.14);}

#game{
  position: relative;
  z-index: 0;
  display: block;
  width: 800px;
  height: 500px;
  box-sizing: border-box;

  background-color: white;

  /*transition: .5s ease;*/
}

#existent_maps{
  top: 5px;
  left: 5px;
}

#existent_maps ul{
  margin: 0;
  padding: 0 1em;
}

#touch_visual, #moving_touch{
  position: fixed;
  display: block;
  z-index: 9999;

  box-sizing: border-box;
  background-color: #58585826;
  border: 5px solid #c7c7c724;
  border-radius: 50%;
}

#touch_visual{
  width: 35px;
  height: 35px;
}

#moving_touch{
  width: 25px;
  height: 25px;
}

.dnone{display:none !important}
