#settings li{
  display: flex;
  justify-content: space-between;
}

#settings ul{padding: 0}

.modal{
  display: block;
  border: 1px black solid;
  background-color: white;
  padding: 1em;
  box-sizing: border-box;
  z-index: 1;

  user-select: none;
  position: fixed;
/*  left: 50%; top: 50%;
  transform: translate(-50%,-50%);*/
}
